.DS_Store
full_peru_AvgRad_raw.csv
full_peru_FLDAS_raw.csv
full_peru_HNTL_raw.csv
full_peru_LST_raw.csv
full_peru_Population_raw.csv
full_peru_modis_veg_raw.csv
full_peru_precip_20-21_raw.csv
peru_population_raw.csv
